# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Output files
output/

# Streamlit cache
.streamlit/
